<script>
  import { link } from "svelte-spa-router";
</script>

<nav>
  <a href="/" use:link>Home</a>
  <a href="/map/" use:link>Mapa punktów</a>
  <a href="/calculator/" use:link>Kalkulator</a>
  <a href="/wiki/" use:link>Wiki</a>
</nav>

<style>
  a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
  }
  nav {
    background-color: var(--header);
    width: 100%;
    padding: 1rem;
  }
</style>
