<script>
  import Router from "svelte-spa-router";
  import Header from "./lib/Header.svelte";
  import Footer from "./lib/Footer.svelte";
  import routes from "./routes";
</script>

<Header />
<Router {routes} />
<Footer />

<style>
  :global(#app) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-items: center;
  }

  :global(*) {
    box-sizing: border-box;
  }
  :global(:root) {
    font-family: sans-serif;
    border: 0;
    margin: 0;
    --header: rgb(60, 70, 190);
    --highlight: darkorange;
    --faded: rgb(230, 240, 240);
  }

  :global(body) {
    border: 0;
    height: 100vh;
    margin: 0;
  }

  :global(main) {
    width: 70%;
  }
</style>
