<main>
  <div class="card">
    <h1>Rozwiązanie A</h1>

    <div class="table">
      <h3>Opłaty początkowe</h3>
      <div>Dzbanek do wody</div>
      <div>$5</div>

      <div>Szklanki</div>
      <div>$10</div>

      <div>Butelki</div>
      <div>$15</div>
    </div>

    <div class="table">
      <h3>Opłaty miesięczne</h3>
      <div>Filtry</div>
      <div>$3</div>
    </div>

    <h3>Zaoszczędzisz 30$ rocznie</h3>
  </div>
  <div class="card">
    <h1>Rozwiązanie B</h1>

    <div class="table">
      <h3>Opłaty początkowe</h3>
      <div>Dzbanek do wody</div>
      <div>$5</div>

      <div>Szklanki</div>
      <div>$10</div>

      <div>Butelki</div>
      <div>$15</div>
    </div>

    <div class="table">
      <h3>Opłaty miesięczne</h3>
      <div>Filtry</div>
      <div>$3</div>
    </div>

    <h3>Zaoszczędzisz 30$ rocznie</h3>
  </div>
  <div class="card">
    <h1>Rozwiązanie C</h1>

    <div class="table">
      <h3>Opłaty początkowe</h3>
      <div>Dzbanek do wody</div>
      <div>$5</div>

      <div>Szklanki</div>
      <div>$10</div>

      <div>Butelki</div>
      <div>$15</div>
    </div>

    <div class="table">
      <h3>Opłaty miesięczne</h3>
      <div>Filtry</div>
      <div>$3</div>
    </div>

    <h3>Zaoszczędzisz 30$ rocznie</h3>
  </div>
</main>

<style>
  main {
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
  }

  .card {
    background-color: rgb(220, 235, 240);
    height: 100%;
    border-radius: 2em;
    padding: 2em;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
    color: darkorange;
    text-decoration: underline dashed;
  }

  h3 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: normal;
    color: darkorange;
    padding: 0;
    margin: 0;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .table {
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: rgb(100, 60, 80);
  }

  .table :first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
</style>
