<script>
  import { link } from "svelte-spa-router";
</script>

<main>
  <div class="question">
    <span>Miejsce zamieszkania</span>

    <select>
      <option>Dom jednorodzinny</option>
      <option>Mieszkanie</option>
      <option>Kawalerka</option>
      <option>Akademik</option>
      <option>Hotel/Motel</option>
    </select>
  </div>

  <div class="question">
    <span>Ilość domowników</span>
    <input type="number" />
  </div>

  <div class="question">
    <span>Ile wody pijecie dziennie? (L)</span>
    <input type="number" />
  </div>

  <div class="question">
    <span>Ile napojów słodzonych? (L)</span>
    <input type="number" />
  </div>

  <a href="/calc-result/" use:link>Przelicz →</a>
</main>

<style>
  .question {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
  }

  main div:nth-child(odd) {
    background-color: rgb(230, 240, 240);
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1em;
    border-radius: 0.5em;
    background-color: var(--header);
    float: right;
  }
</style>
