<script>
  import { link } from "svelte-spa-router";
  import testimg from "./assets/svelte.png";
  import bottleImg from "./assets/bottle.png";
  import glassImg from "./assets/glass.png";
  import recycle from "./assets/recycle.png";

  const worker1 = new Worker("/src/assets/worker.js");
  const worker2 = new Worker("/src/assets/worker.js");
  const worker3 = new Worker("/src/assets/worker.js");

  // worker1.postMessage("start");
  // worker2.postMessage("start");
  // worker3.postMessage("start");
</script>

<section class="first">
  <img src={bottleImg} alt="Plastic bottle" />
  <span>Wyrzucasz XXX kg plastiku rocznie!</span>
  <a href="/calculator/" use:link>Przelicz</a>
</section>

<section class="second">
  <img src={glassImg} alt="Recycle!" />
  <span>Otrząśnij się!</span>
</section>

<section class="third">
  <span>Poczytaj więcej jak Twoje akcje wpływają na środowisko</span>
  <img src={recycle} alt="Recycle!" />
  <a href="/wiki/" use:link>Wiki</a>
</section>

<style>
  section {
    width: 100%;
    min-height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    place-items: center;
    padding: 1em;
  }

  section :first-child {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  a {
    display: block;
    background-color: var(--header);
    color: white;
    width: max-content;
    border-radius: 0.5em;
    padding: 1em;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    margin: 1em;
  }

  span {
    text-align: center;
    display: block;
    padding: 0 1em;
    font-size: 2em;
  }

  a::after {
    content: " →";
  }

  .first {
    background-color: greenyellow;
  }

  .second {
    display: flex;
    justify-content: center;
    place-items: center;
    background-image: url("/src/assets/droplets.webp");
    background-position: center;
    background-size: cover;
  }

  .second img {
    transform: rotate(30deg) skewX(-30deg) skewY(10deg);
    width: auto;
  }

  .second span {
    font-size: 3em;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .third {
    background-color: lightgreen;
  }
</style>
