<script>
  import pinImg from "./assets/pin.png";
</script>

<div class="map-wrapper">
  <div class="map-results">
    <div class="result-card">
      <img src={pinImg} alt="Map pin" />
      <h1>Politechnika DS3</h1>
      <span>100 metrów stąd</span>
    </div>

    <div class="result-card">
      <img src={pinImg} alt="Map pin" />
      <h1>Posnania</h1>
      <span>300 metrów stąd</span>
    </div>
  </div>

  <iframe
    title="map"
    class="map"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://www.openstreetmap.org/export/embed.html?bbox=16.94953322410584%2C52.39948299012416%2C16.952175199985508%2C52.40047636845502&amp;layer=mapnik"
  />
</div>

<style>
  .map-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  .map-results {
    height: 100%;
  }

  .map {
    height: 100%;
    width: 100%;
  }

  .result-card {
    background-color: rgb(230, 240, 240);
    margin: 0.5rem;
    display: grid;
    border-radius: 1rem;
    grid-template-columns: 70px auto;
    place-items: center;
    padding: 0.5rem;
  }

  .result-card img {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 70px;
  }

  .result-card h1 {
    color: var(--highlight);
    font-size: 1.1rem;
  }

  .result-card span {
    font-size: 0.7rem;
  }
</style>
