<script>
  import { link } from "svelte-spa-router";
</script>

<div class="wiki-wrapper">
  <div class="side">
    <a href="/wiki/" use:link>Article 1</a>
    <a href="/wiki/" use:link>Article 2</a>
    <a href="/wiki/" use:link>Article 3</a>
    <a href="/wiki/" use:link>Article 4</a>
    <a href="/wiki/" use:link>Article 5</a>
  </div>
  <article>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat repellendus
    voluptatem nesciunt maiores eos sit veniam vel quos voluptas quis dolorem
    repellat, ipsa excepturi asperiores maxime autem culpa aliquam ut. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Fugiat repellendus
    voluptatem nesciunt maiores eos sit veniam vel quos voluptas quis dolorem
    repellat, ipsa excepturi asperiores maxime autem culpa aliquam ut. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Fugiat repellendus
    voluptatem nesciunt maiores eos sit veniam vel quos voluptas quis dolorem
    repellat, ipsa excepturi asperiores maxime autem culpa aliquam ut.
  </article>
</div>

<style>
  .wiki-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  .side {
    height: 100%;
    background-color: var(--faded);
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .side a {
    padding: 0.3rem;
    color: black;
  }

  article {
    height: 100%;
    width: 100%;
    text-align: justify;
    padding: 50px 200px;
  }
</style>
